/* All Elements CSS */

html {
  font-size: 18px;
  font-family: Helvetica;
    color: white;
}

header {
  background-color: black;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

header span {
  padding: 1rem 0.66rem;
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/* All Class CSS */

.container {
  max-width: 960px;
}

.heading .container {
  display: flex;
  align-items: center;
}

.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

.headline {
  background-color: black;
  width: 20rem;
  padding: 3rem 2rem;
  position: relative;
  top: 9rem;
}

.navibar {
  background-color: firebrick;
  text-align: center;
}

.navibar span {
  margin: 0rem 0.75rem;
  color: white
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 0 0;
}

.item {
  width: 30%;
}

.item-image {
  display: flex;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
}

.item img {
  max-width: 8rem;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.info {
  margin: 3rem 0 0 0;
}

.title {
  background-color: black;
  padding: 2rem 1rem;
}
/* All ID CSS */
